@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle, rgba(146, 164, 148, 1) 0%, rgba(13, 53, 18, 1) 100%);
}

a:link {
  color: #F3EFF5;
  /* Unvisited links */
}

a:hover {
  color: #3B7D23;
  /* Links when mouse hovers over them */
}

a:active {
  color: #E07A5F;
  /* Links at the time they are clicked */
}


* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}